# Core ORM and Database
SQLAlchemy==2.0.43
alembic==1.16.5

# Database Driver (PostgreSQL)
psycopg2-binary==2.9.11

# Data Validation and Serialization
pydantic==2.11.10
pydantic-settings==2.10.1
email-validator==2.3.0

# Password Hashing and Security
passlib[bcrypt]==1.7.4  # Password hashing with bcrypt support
bcrypt>=4.1.0  # Secure password hashing

# Additional Utilities
python-dotenv==1.1.1  # Environment variables
typing-extensions==4.15.0  # Type hints support

# APIs utilities
fastapi==0.135.2
uvicorn[standard]==0.38.0
python-multipart==0.0.22
requests==2.33.0
httpx==0.28.1
PyJWT==2.12.0

